<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.book.shop.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.nju.book.shop.model.Cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <resultMap id="connectionResultMap" type="com.nju.book.shop.model.Cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <!-- 一对一关联 -->
    <!--
         javaType: 需要封装的类名
         property:需要封装的类的对象名
         column: 两张表的关联字段名
    -->
<!--    <association property="book" column="book_id" javaType="com.nju.book.shop.model.Book">
      <id column="bid" jdbcType="INTEGER" property="id" />
      <result column="bname" jdbcType="VARCHAR" property="bname" />
      <result column="cur_price" jdbcType="REAL" property="curPrice" />
      <result column="picture" jdbcType="VARCHAR" property="picture" />
    </association>-->

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nju.book.shop.model.Cart">
    insert into cart (id, user_id, book_id, 
      num)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nju.book.shop.model.Cart">
    update cart
    set user_id = #{userId,jdbcType=INTEGER},
      book_id = #{bookId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, book_id, num
    from cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, book_id, num
    from cart
  </select>
  <select id="selectByUser" parameterType="Integer" resultMap="BaseResultMap">
      select c.id, c.user_id, c.book_id, c.num
      from cart c
      where c.user_id=#{userId}
  </select>
  <select id="selectByUserBook" parameterType="com.nju.book.shop.model.Cart" resultMap="BaseResultMap">
    select id, user_id, book_id, num
    from cart where user_id=#{userId} and book_id=#{bookId}
  </select>
</mapper>